*{
    box-sizing: border-box;
}
.gallery{
    list-style: none;
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 20px;
max-width: 1300px;
margin: 30px auto;
}
.gallery-item{
   width: calc((100% - 40px) / 3);
    height: 200px;
    overflow: hidden;
    border: 3px solid transparent;
     object-fit: cover;

}
.gallery-item:hover{
    border: 3px solid #20aefa;
}
.gallery-image{
 max-width: 100%;
}

.feedback-form{
    display: flex;
    flex-direction: column;
 margin: 30px auto;
 max-width: 400px;
 gap: 20px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
button{
    max-width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(90, 117, 234);
    color: white;
}
textarea{
    resize: none;
        border-radius: 5px;
        border: #828d93 solid 1px;
}
input{
    border-radius: 5px;
            border: #828d93 solid 1px;
}
 textarea:hover, input:hover, textarea:focus,input:focus{
    outline: none;
    border: 1px solid rgb(102, 102, 254);
}
